
<h1>You fell in love with: <%= thingVar %></h1>
<%if(thingVar.toLowerCase() ==="rusty"){%>
    <p>Good choice rusty is the best</p>
<%}else{%>
    <p>Boooooo you suck</p>
<% } %>
<p>P.S this is the love.ejs file</p>


<!-- 
<%= %>
<% %> for logic like loops and if statements 

-->